body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding-top: 65px;
  padding-left: 300px;

  display: flex;
  flex-flow: row wrap;
  



}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 65px;
  background: darkmagenta;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.header h1 {
  font-size: 32px;
  color: white;
  font-weight: 900;
}

.footer {
  height: 65px;
  background: #eee;
  color: darkmagenta;

  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;

  position: fixed;
  top: 65px;
  left: 0px;
  bottom: 65px;
  padding-left: 20px;
}

.sidebar a {
  color: white;
  text-decoration: None;
}

.sidebar ul {
  list-style-type: None;
  padding: 0px;
  margin-top: 10px;
}

.sidebar li {
  margin-bottom: 10px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

}

